body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    
    overflow-x: hidden;
    font-size: 1em;
    background-color: #fff;
    color: #202528;
    line-height: 1.5;
}

#main-header {
    padding: 1em;
    background-color: #E9EDF2;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
}

#main-header .logo-holder {
    height: 40px;
    width: 190px;
    display: inline-block;
    float: left;
    margin-top: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#main-header a {text-decoration: none !important;}

a {
    color: #0064CA;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.main-menu .menu-list {
    border: 0;
    margin: .25em 1em .25em 2em !important;
    padding: 0 !important;
    display: inline;
    float: left;
    position: relative;
}

.main-menu .menu-list li {
    display: inline-block;
    list-style: none;
}

.main-menu .btn-group {
    float: right;
    padding: 0.25em 0 !important;
}

.right-blog-link {
    float: right;
    margin: 4px 40px 0 0;
}

.right-help-link {
    float: right;
    margin: 4px 22px 0 0;
}

.menu-link {
    font-size: 1.125em;
    display: block;
    padding: 0.36em 0;
    color: #202528;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/*------------------------------------------------*/

.hero-unit {
    text-align: center;
    background-color: #E9EDF2;
}

.padding-top-small {padding-top: 5em !important;}

.padd1 {padding: 1em !important;}

h1 {font-family: 'Lato', sans-serif; font-size: 2.625em;line-height: 1.1;font-weight: 300;}

.hero-features-wrapper {
    background-color: #3F4655;
    border-top: 1px solid rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    width: 100%;
}

.max80 {
    /* max-width: 1280px; */
    margin-left: auto;
    margin-right: auto;
}

.hero-features a {text-decoration: none !important;}

.hero-feature {padding: 2.75em 1.25em;}

.position-relative {position: relative;}

.pure-g {
    text-rendering: optimizeSpeed;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

/*.pure-u-lg-1-4, .pure-u-lg-6-24 {
    width: 25%;
}*/

.hero-features h3 {color: #fff;}
h4, .h4 {font-size: 1.25em;font-weight: 600;}

.hero-feature .hero-feature-description {
    display: block;
    color: #B2B5BB;
    margin-top: 1em;
}

.hero-feature {overflow: hidden;}

/*----------------------------*/

.icon-h-container {
    width: 158px;
    height: 158px;
    position: absolute;
    left: 50%;
    display: block;
    margin-left: -79px;
}

.icon-h-container .circle-bg {
    border-radius: 20px;
    height: 12px;
    width: 12px;
    display: block;
    border: solid 1px #1C1D21;
    position: relative;
}

.icon-h-container .circle-bg-01 {margin: 49px 0 0 20px;}
.icon-h-container .circle-bg-02 {margin: 0px 0 0 143px;}
.icon-h-container .circle-bg-03 {margin: 60px 0 0 91px;}

/*-----------------*/

.team-collaboration-bg {top: 0;}
.team-collaboration-bg .bg-line {
    background-color: #121316;
    height: 1px;
    display: block;
    position: absolute;
}
.team-collaboration-bg .bg-line-01 {
    width: 20px;
    top: 136px;
    left: 0;
}
.team-collaboration-bg .bg-line-02 {
    left: 122px;
    top: 84px;
    width: 20px;
}
.team-collaboration-bg .bg-line-03 {
    left: 46px;
    top: 65px;
    width: 10px;
}
.team-collaboration-bg .bg-line-04 {
    left: 157px;
    top: 160px;
    width: 20px;
}
.team-collaboration-bg .bg-line-05 {
    left: 53px;
    top: 150px;
    width: 10px;
}
.team-collaboration-bg .bg-line-06 {
    left: 109px;
    top: 114px;
    width: 10px;
}

/*-------------*/

.icon-h-container .currency-sign {
    color: #1C1D21;
    position: absolute;
}
.icon-h-container .currency-sign-01 {
    left: 141px;
    top: 40px;
}
.icon-h-container .currency-sign-02 {
    top: 0;
    left: 110px;
    padding: 1px 8px;
}
.icon-h-container .currency-sign-03 {
    padding: 0 10px;
    font-size: 20px;
    top: 34px;
    left: 0;
}
.icon-h-container .currency-sign-04 {
    top: 83px;
    left: 30px;
}
.icon-h-container .currency-sign-05 {
    left: 62px;
    top: -5px;
}
.icon-h-container .currency-sign-06 {
    top: 51px;
    left: 96px;
    z-index: 2;
}
.icon-h-container .currency-sign-07 {
    top: -30px;
    left: 53px;
}
.icon-h-container .currency-sign-08 {
    left: 131px;
    top: 100px;
}

.icon-h-container .currency-sign-circle {
    border-radius: 20px;
    padding: 0 8px;
    border: solid 1px #1C1D21;
    text-align: center;
}

/*---------animation------------------*/

.hero-feature{overflow:hidden}.hero-feature:hover .tm-checked{opacity:1}.hero-feature:hover .scale{-webkit-transform:scale(1);transform:scale(1)}.hero-feature:hover .tm-numb-point{opacity:0}.hero-feature:hover .eye-line{opacity:1}.hero-feature:hover .eye{opacity:0}.hero-feature:hover .i--delayfl{-webkit-animation:opacity 1s;animation:opacity 1s;-webkit-animation-iteration-count:3;animation-iteration-count:3;-webkit-animation-delay:.10s;animation-delay:.10s}.hero-feature:hover .i--delayfl-03{-webkit-animation:opacity 1s;animation:opacity 1s;-webkit-animation-iteration-count:3;animation-iteration-count:3;-webkit-animation-delay:.30s;animation-delay:.30s}.hero-feature:hover .i--delayfl-04{-webkit-animation:opacity 1s;animation:opacity 1s;-webkit-animation-iteration-count:3;animation-iteration-count:3;-webkit-animation-delay:.50s;animation-delay:.50s}.hero-feature:hover .i--pulse{-webkit-animation:opacity 1s;animation:opacity 1s;-webkit-animation-delay:.10s;animation-delay:.10s;-webkit-animation-iteration-count:2;animation-iteration-count:2}.hero-feature:hover .i--pulse-03{-webkit-animation:opacity 1s;animation:opacity 1s;-webkit-animation-delay:.30s;animation-delay:.30s;-webkit-animation-iteration-count:2;animation-iteration-count:2}.hero-feature:hover .i--pulse-04{-webkit-animation:opacity 1s;animation:opacity 1s;-webkit-animation-delay:.50s;animation-delay:.50s;-webkit-animation-iteration-count:2;animation-iteration-count:2}.hero-feature:hover .in-circle-status{fill:#98E296}.hero-feature:hover .i-paid-txt{opacity:1}.hero-feature:hover .clock-small-needle{-webkit-transform-origin:30% 4%;transform-origin:30% 4%;-webkit-animation:spin .5s linear;animation:spin .5s linear;-webkit-animation-iteration-count:10;animation-iteration-count:10}@-moz-document url-prefix(){.hero-feature:hover .clock-small-needle{transform:rotate(0);animation:none}}.hero-feature:hover .clock-large-needle{-webkit-transform-origin:30% 4%;transform-origin:30% 4%;-webkit-animation:tick-tac 5s linear;animation:tick-tac 5s linear;-webkit-animation-iteration-count:1;animation-iteration-count:1}.hero-feature:hover .currency-sign-02{-webkit-animation:floatTop02 3s linear;animation:floatTop02 3s linear;-webkit-animation-iteration-count:2;animation-iteration-count:2}.hero-feature:hover .currency-sign-03{-webkit-animation:floatTop03 3.5s linear;animation:floatTop03 3.5s linear;-webkit-animation-iteration-count:2;animation-iteration-count:2}.hero-feature:hover .currency-sign-07{-webkit-animation:floatTop07 2.6s linear;animation:floatTop07 2.6s linear;-webkit-animation-iteration-count:2;animation-iteration-count:2}.hero-feature:hover .circle-bg{-webkit-animation:bubbleUp 1s;animation:bubbleUp 1s;-webkit-animation-iteration-count:2;animation-iteration-count:2;height:12px;width:12px}.hero-feature:hover .circle-bg:after{-webkit-animation:opacity .5s linear;animation:opacity .5s linear;content:"";background:url("images/check-mark@2x.png") no-repeat;background-size:12px;position:absolute;top:-1px;left:1px;height:12px;width:12px}.hero-feature:hover .bg-line-02,.hero-feature:hover .bg-line-04,.hero-feature:hover .bg-line-06{-webkit-animation:floatLeft 3s linear;animation:floatLeft 3s linear;-webkit-animation-iteration-count:1;animation-iteration-count:1;z-index:1}.hero-feature:hover .bg-line-01,.hero-feature:hover .bg-line-03,.hero-feature:hover .bg-line-05{-webkit-animation:floatRight 3s linear;animation:floatRight 3s linear;-webkit-animation-iteration-count:1;animation-iteration-count:1;z-index:1}

/*-----------------------------------------------------------*/


.btn-primary, .btn-selected, a.btn-primary, a.btn-selected {
    background-color: #3F9BF8;
    color: #fff;
}
.btn {
    font-size: 1.25em;
    font-weight: 600;
    padding: 0.5em 2em 0.55em;
    color: #202528;
    border: 1px solid #202528;
    background-color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

















